<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ assets('css/style.css') }}?v={{ version() }}">
    <title>Dojo21 | Cadastro</title>
</head>
<body>
<main class="container" id="signup">
    <section id="signup-section" class="text-center">
        <h2>Criar usuário</h2>
        <form method="POST" id="user-form">
            <div class="text-left">
                <label for="name">Nome</label>
                <input
                    class="input-login-singup"
                    autocomplete="off"
                    type="text"
                    placeholder="Usuário"
                    name="name"
                    id="name"
                    value=""
                    autofocus
                >
            </div>

            <div class="text-left">
                <label for="email">E-mail</label>
                <input
                    class="input-login-singup"
                    autocomplete="off"
                    type="email"
                    placeholder="E-mail (email@gmail.com)"
                    id="email"
                    name="email"
                    value=""
                >
            </div>
            <div class="text-left">
                <label for="password">Senha</label>
                <input
                    class="input-login-singup"
                    autocomplete="off"
                    type="password"
                    placeholder="Senha"
                    id="password"
                    name="password"
                    value=""
                >
            </div>

            <div>
                <a href="#" id="cadastrar" class="btn btn-block">Cadastrar</a>
                <a href="/login" class="btn btn-block">Login</a>
            </div>
        </form>
    </section>
</main>

<script src="{{ assets('libs/jquery-3.7.1.min.js') }}?v={{ version() }}" type="text/javascript"></script>
<script src="{{ assets('js/global.js') }}?v={{ version() }}" type="text/javascript"></script>
<script src="{{ assets('js/user.js') }}?v={{ version() }}" type="text/javascript"></script>

</body>
</html>
