<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ assets('css/common.css') }}?v={{ version() }}">
    <link rel="stylesheet" href="{{ assets('css/cadastro.css') }}?v={{ version() }}">
    <title>Dojo21 | Cadastro</title>
</head>
<body>
<main class="container">
    <section id="cadastro_section" class="text-center">
        <h2>Criar usuário</h2>
        <form method="POST" id="user-form">
            <div class="">
                <input autocomplete="off" type="text" placeholder="Usuário" name="name" id="name" value="">
            </div>
            <div class="">
                <input autocomplete="off" type="email" placeholder="E-mail (email@gmail.com)" id="email" name="email" value="">
            </div>
            <div>
                <input autocomplete="off" type="password" placeholder="Senha" id="password" name="password" value="">
            </div>

            <div>
                <a href="#" id="cadastrar" type="button" class="btn">Cadastrar</a>
                <a href="/login" type="button" class="btn">Login</a>
            </div>
        </form>
    </section>
</main>

<script src="{{ assets('libs/jquery-3.7.1.min.js') }}?v={{ version() }}" type="text/javascript"></script>
<script src="{{ assets('js/global.js') }}?v={{ version() }}" type="text/javascript"></script>
<script src="{{ assets('js/user.js') }}?v={{ version() }}" type="text/javascript"></script>

</body>
</html>
